/*
color1: #d8c292
color2: #5b5b5b
color3: #b67171
color4: #c19065
from https://colorhunt.co/palette/258296
color5: #eae3c8
from https://colorhunt.co/palette/258092
*/
:root {
  --color1: #d8c292;
  --color2: #5b5b5b;
  --color3: #b67171;
  --color4: #c19065;
  --color5: #eae3c8;
  --color-success: #2ecc71;
  --color-error: #983333;
}

body {
  font-family: "Arial", sans-serif;
  font-size: 1.1rem;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
}

body > * {
  max-width: 1040px;
  margin: 0 auto;
  box-sizing: border-box;
}

textarea:focus,
select:focus,
input:focus {
  outline: none;
}

.text-primary {
  color: var(--color1);
}

.text-secondary {
  color: var(--color2);
}

.bg-primary {
  background-color: var(--color4);
}

.bg-secondary {
  background-color: var(--color2);
}

.bg-tertiary {
  background-color: var(--color3);
}

.bg-fourth {
  background-color: var(--color1);
}

button.bg-tertiary:hover {
  background-color: var(--color-error);
}

header {
  position: relative;
  height: 400px;
  padding: 30px 20px;
  margin-bottom: 10px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center 70%;
  background-image: url("https://images.unsplash.com/photo-1574607407517-cd664b1504f5?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1400&q=80");
}

header h1,
header h2 {
  max-width: 450px;
  font-size: 2.5rem;
  margin: 60px 0 80px 0;
}

h1,
h2 {
  font-family: "Arial", sans-serif;
  font-size: 2rem;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  margin: 12px auto;
}

h1 {
  color: var(--color1);
}

h2 {
  color: var(--color2);
  font-size: 1.5rem;
}

header h2 {
  color: #ddd;
}

h1 > a,
h1 > a:visited {
  text-decoration: none;
  color: var(--color1);
}

h1 > a:hover {
  text-decoration: underline;
}

.form-field {
  padding: 0.75rem 0;
  max-width: 400px;
  margin: 0 auto;
}

.form-field label {
  display: block;
  color: var(--color2);
}

.form-field .container {
  position: relative;
  margin: 0.125rem 0 1.5rem 0;
  padding: 0.125rem;
  border: 1px var(--color2) solid;
  border-radius: 0.375rem;
  transition: border-color 0.2s ease;
}

.form-field .container:focus-within {
  border-color: var(--color1);
  transition: border-color 0.2s ease;
}

.form-field .container .svg-wrapper {
  position: absolute;
  display: flex;
  align-items: center;
  pointer-events: none;
  color: var(--color2);
}

.form-field .container .svg-wrapper.form-icon {
  padding-left: 0.25rem;
  top: 0;
  bottom: 0;
}

.form-field .container .svg-wrapper.form-validation {
  padding-right: 0.25rem;
  top: 0;
  bottom: 0;
  right: 0;
  visibility: hidden;
}

.form-field .container .svg-wrapper.dropdown-selector {
  padding-right: 0.25rem;
  top: 0;
  bottom: 0;
  right: 0;
}

.form-field .container .svg-wrapper svg {
  width: 20px;
  height: 20px;
}

.container.success .svg-wrapper.form-validation.success {
  color: var(--color-success);
  visibility: visible;
}

.container.error .svg-wrapper.form-validation.error {
  color: var(--color-error);
  visibility: visible;
}

.container.success {
  border-color: var(--color-success);
  visibility: visible;
}

.container.error {
  border-color: var(--color-error);
  visibility: visible;
  color: var(--color-error);
}

.container .error-message {
  font-size: 1rem;
  position: absolute;
  display: flex;
  margin: 0;
  bottom: -25px;
  right: 0;
  visibility: hidden;
}

.container .error-message.error {
  visibility: visible;
}

.form-field .container input {
  display: block;
  width: calc(100% - 3.5rem);
  padding: 0.5rem 1.75rem;
  border: none;
  font-size: 1rem;
}

.form-field .container select {
  display: block;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  line-height: 1.1rem;
  width: calc(100% - 3.5rem);
  margin: 0.5rem 1.75rem;
  border: none;
  font-size: 1rem;
  color: var(--color2);
}

.form-field input::-webkit-inner-spin-button,
.form-field input::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.form-field input[type="number"] {
  -moz-appearance: none;
}

.member {
  text-decoration: none;
}

.member:hover {
  text-decoration: underline;
}

button {
  border-radius: 2px;
  padding: 8px;
  appearance: none;
  background-color: var(--color4);
  color: white;
  border: none;
  outline: none;
  margin-bottom: 12px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

button:hover {
  background-color: var(--color2);
  transition: background-color 0.2s ease-in-out;
}

button > a,
button > a:visited {
  text-decoration: none;
  color: white;
}

div#members {
  margin: 20px auto;
}

.flex-container {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.member-info {
  display: inline-flex;
  align-items: baseline;
  margin-right: -0.5rem;
  margin-left: -0.5rem;
}

.member-info > * {
  margin-right: 0.5rem;
  margin-left: 0.5rem;
}

#connected-services {
  display: none;
}

table {
  border-collapse: collapse;
  width: 100%;
  text-align: left;
  /* box-shadow: 0 0 20px rgba(0, 0, 0, 0.15); */
}

table th,
table td {
  padding: 12px 25px;
}

table th {
  background-color: var(--color1);
  color: white;
}

table tr {
  background-color: 1px solid #dddddd;
}

table tr:nth-of-type(even) {
  background-color: var(--color5);
}

table tr:last-of-type {
  border-bottom: 2px solid var(--color1);
}

.ledger-table td:nth-child(n + 3),
.ledger-table th:nth-child(n + 3) {
  text-align: right;
}

@media (max-width: 418px) {
  header h1,
  header h2 {
    margin: 30px 0;
  }
}
