@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

header{
    background-color: #0080CA;
    display: inline-block;
    width: 100%;
}

#header-logo{
    float: left;
    padding-right: 20px;
}

#header-title{
    color: white;
    margin-top: 55px;
}

.main-title{
    margin-bottom: 35px;
    margin-left: 7%;
    color: #001C44 ;
    margin-top: 55px;
}

body{
    font-family: 'Montserrat', sans-serif;
}


.backToMainPage{
    padding-top:1%;
    padding-left:2%;
    font-size:15px;
    display: block;
    font-weight: bold;
    color: #001C44;
    text-decoration: none;
}

a.backToMainPage:hover {
    color: #DCB342;
}

.backToMainPage:visited{
    color: black;
}

footer{
    background-color: #349BC4;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
    display: block;
}

#copyright{
    padding-left: 5px;
}

#container1, #container2{
    display: inline-block;
}

#container1{
    margin-left: 28%;
}

#container2{
    margin-left: 10%;
}

#image1{
    padding-bottom: 30px;
}

#link1{
    margin-left: 10%;
}

#link2{
    margin-left: 25%;
}

#link1, #link2{
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
}

#link1:visited, #link2:visited{
    color: black;
}

#link1:hover, #link2:hover{
    color: #92D35F;
}